
textarea{
  min-height:200px;
}

.btn-add{
  position:relative;
  margin-bottom:10px;
  padding-left:35px;
  padding-right:15px;
  text-transform:capitalize;
}
.btn-add:before{
  content:"+";
  font-size:26px;
  position:absolute;
  top:-6px;
  left:10px;
}

/*************************************************************
checklist override form-check bs
**************************************************************/
.checklist .form-check{
  padding-left:0;
  position:relative;
}
.checklist .form-check-input{
  display:none;
}
.checklist .form-check-label{
  background-color:#f2f5f6;
  display:block;
  padding:10px 45px 10px 15px;
  margin-bottom:3px;
}
.checklist .checkmark {
  position: absolute;
  top:10px;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color:transparent;
}
.checklist .checkmark:after{
  content: "";
  position: absolute;
  display:none;
  left:9px;
  top:2px;
  width:9px;
  height:15px;
  border-style: solid;
  border-color #619bd0;
  border-width: 0px 3px 3px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg);
}
.checklist .form-check-label:hover{
  background-color:#e2eef9;
  cursor:pointer;
}
.checklist .form-check-input:checked + .form-check-label{
  background-color:#007bff;
  color:#fff;
  padding-left:40px;
}
.checklist .form-check-input:checked + .form-check-label .checkmark{
  background-color:transparent;
  border-color:#fff;
}
.checklist .form-check-input:checked + .form-check-label .checkmark:after{
  border-color:#fff;
  display:block;
}


/************************************************************************
OVERRIDE BOOTSTRAP
**************************************************************************/
.nav-tabs .nav-link.active{
  border-bottom-width:0px !important;
}
.app-modal-form .modal-body,
.app-modal-form .modal-header,
.app-modal-form .modal-footer{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* margin:1px; */
  }

.app-modal-form .modal-footer {
  justify-content: flex-start;
}

/* disabling bootstrap transition */
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.card-header{
  font-size:1rem;
}

.form-control:hover{
  border-color:#2196F3;
  background-color:#ffffff;
}
/****************************************************************
 APPLICATION STYLE
****************************************************************/
.login-form{  
  max-width:460px;
}
.login-form .spinner-border{
  display:none;
}
.submited-form .spinner-border{
  display:inline-block;
}
.submited-form .button-text{
  display:none;
}
/********************************************************************/
.element{
  margin:0 0 5px 0;
  border-radius:3px;
  overflow:hidden;
}

.element-header:hover{
  background-color:#217fde;
  cursor:pointer;
  text-decoration:underline;
}
.element-header.active{
  background-color:#3d71a6;
}
.element-content{
  /* background-color:#fff; */
  /* padding:20px; */
  /* margin-bottom:15px; */
  /* border:1px solid #ccc; */
}
.element-table > div{
  margin:1px 0;
}
.element-table label {
  margin:0;
  text-transform:capitalize;
  padding:7px 15px;
  min-width:180px;
  text-align:center;
  border-right:1px solid #fff;
}
.element-table p{
  margin:0px;
  width:100%;
  padding:7px 10px;
  background-color:aliceblue;
}

.element-control {
  padding:20px 0;
}
.element-control button {
  padding:3px 10px;
  margin-right:10px;
  font-size:.8rem;
}

.element-list-header{
  /* font-size: 1rem; */
  /* background-color:#e4e7ea; */
  /* color:#2a377b; */
  /* border:1px solid #fff; */
  /* font-size:1.1rem; */
  /* margin:0; */
}
.element-list-header:hover{
  cursor:pointer;
  /* background-color:#dadde0; */
}
.element-list > div {
  background-color:#fff;
  border-top:0;
  /* box-shadow:0 1px 1px #eee; */
  /* margin-top:-1px; */
}
.element-list-header,
.element-list > div{
  /* border:1px solid #ccc; */
}

.element-list .list-group-item{
  color:#3F51B5;
  background-color:#f7f7f7;
}
.element-list .list-group-item:hover{
  cursor:pointer;
  background-color:#f0f2f3;
}
/************************************************************************
APPLICATION
**************************************************************************/
.app-container {
  padding-bottom:500px;
}

.app-header{
  /* margin-bottom:50px; */
  /* height:50px; */
}
.app-header .container{
  padding:0;
}
.app-logout-button {
  width: 100px;
}

.app-module-nav {
  border-bottom: 1px solid #dee2e6;
  text-transform:capitalize;
}

.app-module-nav > .nav-tabs {
  margin-bottom: -1px;
}

.app-brand {
  font-size:18px;
}

/*
.toggle-content {
  display: block;
  padding: 10px 20px;
  background-color: #258af7;
  color: #fff;
  font-size: 16px;
  margin:0;
}

.toggle-content:hover {
  cursor: pointer;
  background-color: #167ff1;
}
*/



/*******************************************************
Activity
*******************************************************/
.list-activity{
  background-color: #e2f1ff;
}
.activity-head{
  /* display:table; */
  /* cursor: pointer; */
}
.activity-head span{
  /* width: 20%; */
  /* display:table-cell; */
}
.activity-head:hover {
  cursor:pointer;
  text-decoration:underline;
}
.activity-head.open-dropdown{
    /* background-color:#4CAF50; */
    /* color:#ffffff; */
}

.activity-content {
  /* background-color: #fff; */
  /* padding:10px; */
}

.activity-content label {
  margin:0 0 5px 0;
  text-transform: capitalize;
  font-size: 14px;
}

/********************************************/
.sideform{
  position: fixed;
  bottom: 0;
  padding:0;
  z-index:100;
  transition: right 0.2s;
  overflow:hidden;
  right: -100%;
}

.sideform-content{
  height: calc(100% - 57px);
  width: calc(100%);
  overflow:auto;
  position:absolute;
  padding-top:10px;
  border-top:1px solid #eff2f3;
}
.sideform-right-70{
  right:-100%;
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.sideform-right-50{
  height: calc(100% - 81px);
}

.show-sideform{
  right:0%!important;
}
.show-sideform-50{
  right: 2rem!important;
}

.sideform .form-h1{
  font-size: 1.3rem;
}

/* list drop down */
.list-drop-down{
}
.list-drop-down > input{
  display:none;
}

.list-drop-down > input + label{
  display:block;
  padding:10px;
  margin:0;
  background-color:#fff;
  margin-bottom:-1px;
}
.list-drop-down > input + label:hover{
  background-color:#eee;
  cursor:pointer;
}
.list-drop-down > input:checked + label{
  background-color:#2196F3 !important;
  color:#ffffff;
}

.list-drop-down input:checked ~ .content{
  display: block;
}
.list-drop-down .content{
  display: none;
}